<div class="weather-type" id="weather-type">
    <div onclick="ShowWeatherType(this)" class="opt chosen-opt" id="current">Current Weather</div>
    <div onclick="ShowWeatherType(this)" class="opt" id="today">Today's Forecast</div>
    <div onclick="ShowWeatherType(this)" class="opt" id="five"><a href="#weather-type">5 Days Forecast</a></div>
</div>