<header>
    <h1><a href="/">What's the Weather</a></h1>
    <nav>
        <ul>
            <li><a href="/" onclick="setCurrentLi(this)">Home</a></li>
            <li><a href="/search" onclick="setCurrentLi(this)">Location forecast</a></li>
            <li><a href="/map" onclick="setCurrentLi(this)">Map Location</a></li>
        </ul>
    </nav>
</header>

